html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	background-color: #6725A8;
	font-family: "Segoe UI";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

@font-face {
	font-family: "Segoe UI";
	src: url('./fonts/SegoeUI.woff') format("woff")
}
@font-face {
	font-family: "SegoeUI-SemiBold";
	src: url('./fonts/SegoeUI-SemiBold.woff') format("woff");
		 
}
@font-face {
	font-family: "SegoeUI-Light";
	src: url('./fonts/SegoeUI-Light.woff') format("woff");
}

@font-face {
	font-family: "SegoeUI-Bold";
	src: url('./fonts/SegoeUI-Bold.woff') format("woff");
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.icon-menu {
	height: 2px border solid;
	width: 80%;
}

.header {
	display: flex;
	align-items: center;
	padding: 20px 20px 0px 24px;
}

.title-text {
	color: var(--System-White, #FFF);
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; 
	font-variant: all-small-caps;
	letter-spacing: 3.6px;
	margin: 0px 6px 4px 18px;
}

.header-menu {
	cursor: pointer;
	background: transparent;
	position: relative;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	width: 48px;
  height: 48px;
	margin-left: 8px;
}

.header-menu span {
	display: block;
	position: absolute;
 	height: 4px;
	width: 28px;
	left: 9px;
	top: 21px;
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
}

.header-menu span:nth-child(1) {
	transform: translateY(-10px);
}

.header-menu span:nth-child(2) {
	transform: translateY(10px)
}

.search input{
	display: flex;
	width: 970px;
	height: 48px;
	margin-left: 23px;
	padding: 0px 20px;
	align-items: center;
	border-radius: 36px;
	background: rgba(255, 255, 255, 0.20);
	color: white;
	font-family: "Segoe UI";
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	outline: none;
	border: 0;
}

svg {
	cursor: pointer;
}

.search input::placeholder {
	color: #FFF;
	opacity: 0.5;
}

.search {
	position: relative;
}

.search-icon {
	position: absolute;
	right: 23px;
	top: 14px;
	opacity: 0.5;
}

.nav-buttons {
	display: flex;
	position: absolute;
	flex-wrap: nowrap;
	align-items: center;
	text-align: center;
	right: 260.3px;
	top: 22px;
}

.header-items {
	color: #FFF;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	cursor: pointer;
}

.header-items p {
	margin: 7px;
}

.header__inner {
	margin-right: 28px;
}

.count-basket {
	display: flex;
	align-items: center;
	position: absolute;
	top: -7px;
	right: 11px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #F55123;
}

.main {
	background: #F6F6FA;
	border-radius: 24px 24px 0px 0px;
	margin-top: 20px;
}

.main__container {
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
  flex-wrap: nowrap;
  gap: 32px;
	justify-content: space-between;
}

h1 {
	font-family: "SegoeUI-Bold";
	font-weight: 700;
	line-height: 36px;
	font-size: 28px;
	letter-spacing: -0.28px;
	
}

h2 {
	font-family: "SegoeUI-Bold";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	letter-spacing: -0.24px;
}

.form-cart {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.cart {
	flex: 1;
	padding: 32px 0px 0px 33px;
	
}

.arrow__cart {
	display: flex;
	margin-right: auto
}

.basket-counts {
	height: 572px;
	width: 429px;
	margin-top: 22px;
	display: flex;
	border-radius: 16px;
	flex-direction: column;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
	padding: 16px 24px 24px 24px;
	background-color: #FFF;
}

.basket-counts__title {
	display: flex;
	justify-content: space-between;
}

.content__inner {
	display: flex;
}

.checkbox-cart {
	margin: 26px 0px 8px 0px;
	font-weight: 400;
	line-height: 24px;
}

.cart-svg__margin {
	margin-top: 20px;
}

.basket-counts__subtitle {
	display: flex;
	justify-content: space-between;
	font-weight: 400;
	line-height: 24px;
	
}

.basket-counts_margin {
	margin: 9px 0px 24px 0px;
}

hr {
	opacity: 0.5;
}

.basket-counts__deliveryTitle {
	display: flex;
	justify-content: space-between;
}

h4 {
	font-family: "SegoeUI-Bold";
	font-size: 16px;
	line-height: 24px;
}

.basket-counts__subtitleDeliveryTitle {
	margin: 4px 0px 24px 0px;
	font-size: 13px;
	line-height: 16px;
	gap: 4px;
}

.basket-counts__subtitleColor {
	color: #CB11AB;
	text-decoration: underline dashed #CB11AB;
}

.basket-counts__subtitleColor p {
	margin-top: 4px;
}

.basket-counts__info {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 12px;
	padding: 8px 8px 12px 8px;
	border-radius: 8px;
	background-color: #F6F6FA;
	gap: 8px;
}

.basket-counts__infoColor {
	color: #0CB477;
	text-decoration: underline dashed #0CB477;
	cursor: pointer;
}

.basket-counts__payTitle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.card-details {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
	gap: 9px;
	
}

.card-details__icon {
	display: flex;
	width: 32px;
	height: 24px;
	justify-content: center;
	align-items: center;
	background-color: #F6F6FA;
}

.basket-counts__checkbox {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #F6F6FA;
	padding: 8px 8px 12px 8px;
	border-radius: 8px;
	margin-top: 16px;
	font-size: 13px;
	
}

.basket-counts__checkbox p {
	margin-top: 11px;
}

.basket-counts__button {
	cursor: pointer;
	display: flex;
	width: 100%;
	height: 44px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	background-color: #CB11AB;
	border: none;
	border-radius: 8px;
	color: white;
	margin-bottom: 12px;
}

.basket-counts__pay {
	margin-top: 24px;
}

.agreement-text {
	display: flex;
	gap: 8px;
	font-size: 13px;
	line-height: 16px;
}

.agreement-text span {
	text-decoration: underline solid rgba(0, 0, 0, 0.10);
}

.products__gap {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.none-pointer {
	pointer-events: none;
}

.product__row {
 display: flex;
}

.product__item {
	display: flex;
	flex-direction: row;
}

.product__text {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 543px;
	margin: 0px 0px 0px 16px;
}

.product__title {
	font-size: 16px;
	line-height: 24px;
}

.product__checkboxIcon {
	display: flex;
	align-items: center;
	gap: 12px;
}

.product__subtitle {
	font-size: 13px;
	line-height: 16px;
}

.product__info {
	font-size: 13px;
	line-height: 16px;
	color: #9797AF;
	display: flex;
	flex-direction: column;
	
}

.product__icon_center {
	display: flex;
	align-items: center;
	gap: 6px;
}

.product__navigation {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.product__button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100px;
	height: 44px;
	border-radius: 8px;
	background-color: #FFF;
}

.product__button button {
	cursor: pointer;
	border: none;
	background-color: #FFF;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: -0.2px;
}

.product__minus {
	width: 24px;
	margin-left: 2px;
}

.product__plus {
	width: 24px;
	margin-right: 3px;
}

.product__leftovers {
	font-size: 13px;
	line-height: 16px;
	color: #FF3B30;

}

.product__savingAndDeleting {
	display: flex;
	flex-direction: row-reverse;
	gap: 16px;
}

.price {
	width: 110px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	text-align: right;
}

.product__price {
	margin-left: 16px;
}

.product__price h3 {
	font-family: "SegoeUI-Bold";
	font-size: 20px;
	line-height: 28px;
	font-weight: 700;
	letter-spacing: -0.2px;
}

.product__price p {
	font-size: 13px;
	color: #9797AF;
	text-decoration: underline dashed #9797AF;
}

.product__priceSize {
	text-align: right;
	font-style: normal;
}

.product__item_marginTop {
	margin-bottom: 60px;
}

.product__item_marginBottom {
	margin-bottom: 40px;
}

.product__savingAndDeleting_left {
	margin-left: 78px;
}


.product__hidden {
	display: flex;
	flex-direction: column;
	gap: 32px;
	color: #9797AF;
}

.hr {
	margin-bottom: 11px;
}

.delivery {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #FFF;
	padding: 16px 24px 24px 24px;
	border-radius: 16px;
}

.delivery__title {
	display: flex;
	justify-content: space-between;
	
}

.delivery__title button {
	border: none;
	font-family: "SegoeUI-Bold";
	background-color: white;
	color: #CB11AB;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.delivery_subtitle_fontSize {
	font-family: "SegoeUI-Bold";
}

.delivery_subtitle {
	display: flex;
	margin-top: 16px;
	gap: 78px;
}

.delivery__price {
	display: flex;
	margin-top: 26px;
	gap: 28px;
}

.date {
	margin-top: 16px;
}

.delivery__dateOne {
	display: flex;
	margin-top: 21px;
}

.delivery__dateTwo {
	display: flex;
	margin-top: 16px;
}

.delivery__image {
	position: relative;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-left: 77px;
}

.count-productPhone {
	position: absolute;
	width: 26px;
	height: 16px;
	top: -8px;
	right: 45px;
	background-color: #F55123;
	border-radius: 16px;
}

.count-productPencils {
	position: absolute;
	top: -8px;
	right: -5px;
	width: 16px;
	height: 16px;
	background-color: #F55123;
	border-radius: 50%;
}

.count-productPhoneTwo {
	position: absolute;
	top: -5px;
	right: -6px;
	width: 20px;
	height: 16px;
	background-color: #F55123;
	border-radius: 16px;
}

.delivery-pay {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 16px;
	padding: 16px 24px 24px 24px;
	margin-top: 16px;
	background-color: #FFF;
}

.delivery-pay__text {
	color: #9797AF;
	font-size: 13px;
	line-height: 16px; 
	margin-top: 8px;
}

.delivery-pay_margin {
	margin-bottom: 16px;
}


.delivery__form {
	position: relative;
	margin: 16px 0px 50px 0px;
	background-color: #FFF;
	display: flex;
	padding: 16px 24px 24px 24px;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 16px;
}

.form__input {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.20);
	outline: none;
}

.form__group_marginBottom {
	margin: 43px 0px 7px 0px;
	display: flex;
	
}

.form__group_marginBottom input {
	width: 338px;
}

.footer {
	padding: 24px 0px 24px 0px;
	font-size: 13px;
	text-align: center;
	color: rgba(255, 255, 255, 0.70);
}

.form__input::placeholder {
	font-size: 16px;
}

.form__group_size input{
	width: 217px;
}

.form__group input:nth-child(2) {
	margin: 0px 14px 0px 24px;
}

.form__label {
	position: absolute;
	bottom: 6px;
  right: 212px;
	font-size: 12px;
}

.form__inputPhone {
	padding-top: 40px;
}

.form__inputPhone:focus::placeholder {
	transform: translateY(-10px);
	font-size: 13px;
}

.checkbox {
	display: none;
}

.custom-checkbox {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid #978995;
	border-radius: 8px;
}

.custom-checkbox::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -1px;
	display: block;
	height: 20px;
	width: 20px;
	border-radius: 8px;
	background-image: url(./images/checkboxIcon.svg);
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: .3s;
}

.checkbox:checked + .custom-checkbox::before{
	opacity: 1;
}

.productDelivery__row {
	display: flex;
	flex-direction: row;
	font-size: 13px;
  line-height: 16px;
  align-items: center;
	gap: 8px;
	margin-top: 23px;
}

.card-details_size {
	font-size: 16px;
	line-height: 24px;
}

.label__cart {
	display: flex;
  gap: 8px;
  align-items: center;
}

.transform-arrow {
	transform: rotate(180deg);
}

.count-basket p {
 position: absolute;
 left: -3px;
 top: -8px;
}

.quantity-items {
	width: 40px;
	outline: none;
	border: none;
	font-size: 16px;
	padding-left: 15px;
	background-color: white;
	color: black;
}

.quantity-items_right {
	outline: none;
	border: none;
	font-size: 16px;
	padding-left: 8px;
	width: 53px;
	background-color: white;
	color: black;
}

.product__price input {
	outline: none;
	border: none;
	color: black;
	font-size: 20px
}

.product__item_active {
	display: flex;
}

.product__block_parent {
	position: relative;
}

.product__block_info {
	padding: 11px 16px 13px 16px;
	gap: 8px;
	display: flex;
	flex-direction: column;
	width: 280px;
	height: 104px;
	background-color: #FFF;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
	border-radius: 10px;
}

.product__block_header {
	font-family: "SegoeUI-Bold";
	font-size: 13px;
	line-height: 16px;
	font-weight: 900;
	color: black;
}

.product__block_subtotal {
	font-size: 13px;
	line-height: 16px;
	color: black;
}

.product__block_parent div:nth-child(1) {
	position: absolute;
	top: 10px;
	left: -140px;
	z-index: 10;
}

.product-block__discount_parent {
	position: relative;
	
}

.product-block_discount {
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 11px 16px 13px 16px;
	width: 239px;
	font-size: 13px;
	background-color: #FFF;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
	border-radius: 8px;
	top: 52px;
	left: -230px;
}


.product-block__item {
	display: flex;
	justify-content: space-between;
}

.product-block__item p:nth-child(1) {
	color: #A0A0A4;
}

.subtotal-old {
	cursor: pointer;
}

.basket__block_parent {
	position: relative;
}

.basket__block_second {
	position: absolute;
	top: 10px;
	left: -180px;
}

.basket__block_info {
	position: absolute;
	background-color: #FFF;
	width: 288px;
	padding: 10px 16px 14px 16px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.30);
	border-radius: 8px;
	z-index: 10;
}

.trash {
	transition: all .5s ease;
}

.favorites {
	transition: all .5s ease;
}

.trash:hover {
	fill: red;
}

.favorites:hover {
	fill: rgb(230, 66, 217)
}

.none {
	display: none;
}	
